* {
	margin:0;
	font-family: Arial;
	user-select:none;
}

body {
	background: linear-gradient(160deg, #1c1c4f, #004c98);
	background: linear-gradient(135deg,
						rgba(249, 21, 123, 0.797)25%,
						rgba(64, 0, 255, 0.6)75%);		
}