#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #171614;
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
}

#navbar li {
	float: left;
	border-radius: 25px;
	height: 90%;
	text-align: center;
	margin: 4px;
}

#navbar li:last-child {
  border-right: none;
}

#navbar li .button-19 {
  appearance: button;
  background-color: #61A0AF;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  height:100%;
}
#navbar li .button-19:after {
  background-clip: padding-box;
  background-color: #00c8c8;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
#navbar li .button-19.active{
  padding-bottom: 5px;
}
#navbar li .button-19:main,
#navbar li .button-19:focus {
  user-select: auto;
}
#navbar li .button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}
#navbar li .button-19:disabled {
  cursor: auto;
}

#navbar li .button-19.active:after{
  background-color: #61A0AF;
  border-top: solid #171614 5px;
}

#navbar li .button-19.active{
  background-color: #61A0AF;
  
}

#navbar li .button-19.active:after{
	background-color: #61A0AF;
}

#navbar li .button-19.panier{
	background-color: #802000;
	position: relative;
}

#navbar li .button-19.panier:after{
	background-color: #f03c00;
}

#navbar li .button-19.panier.active{
	background-color: #00b81f;
}

#navbar li .button-19.panier.active:after{
	background-color: #00b81f;
}

/* Change the link color to #111 (black) on hover */
#navbar li:hover:not(.active) {
	background-color: #828282;
}

#navbar li button:hover {
	cursor: pointer;
}

#navbar .active {
	background-color: #04AA6D;
}

.panier .number_of_item {
  position: absolute;
  bottom: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  background-color: green;
  color: #fff;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
